.App {
	text-align: center;
}

button {
	background-color: white;
	color: black;
	padding: 3px 7px;
	border: 2px solid black;
	cursor: pointer;
	border-radius: 5px;
}

button:hover {
	background-color: black;
	color: white;
	transition: 0.5s;
}
